Repository hawabah/idbuntu: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bash tests, markdown tests

.gitlab-ci.yml:

stages:
  - test
  - deploy


ansible tests:
  stage: test
  image: python:2-slim
  before_script:
    - apt-get --quiet --quiet update && apt-get --quiet --quiet --assume-yes install build-essential
    - pip install -r tests/requirements-dev.txt
    - ANSIBLE_CONFIG=ansible.cfg ansible --version
    - pytest --version
  script:
    - py.test

bash tests:
  stage: test
  image: koalaman/shellcheck-alpine:stable
  before_script:
    - shellcheck --version
  script:
    - find . -type f -iname '*.*sh' -exec shellcheck '{}' +
  only:
    changes:
      - "**/*.*sh"

markdown tests:
  stage: test
  image: pipelinecomponents/markdownlint:latest
  script:
    - mdl --style all --warnings .
  only:
    changes:
      - "*.md"

Deploy to Pages:
  stage: deploy
  image: debian:latest
  script:
  - apt-get update --quiet --quiet && apt-get install --quiet --quiet --assume-yes pandoc tidy
  - pandoc -f markdown -t html README.md > index.html
  - tidy -iqu -m index.html || true
  - mkdir .public
  - cp -r * .public
  - mv .public public
  artifacts:
    paths:
    - public
  environment:
    name: production
    url: $CI_PAGES_URL
  only:
  - master

gitignore vim swap files
  .gitignore
Due: none

gitignore more vim swap files
  .gitignore
Due: none

Fix markdown syntax
  README.md
Due: markdown tests

Fix markdown - MD013
  README.md
Due: markdown tests

ci: ansible tests are triggered by ansible changes only.
  .gitlab-ci.yml
Due: none

Simpler invocation
  README.md
Due: markdown tests

ci: don't deploy all files to Pages.
  .gitlab-ci.yml
Due: none

SSH keys are downloaded from internet.
  roles/users/files/florian.pub
  roles/users/files/steven.pub
  roles/users/files/tom.pub
  roles/users/tasks/main.yml
Due: none

Use `project_slug` instead of `project_type`.
  roles/desktop/templates/firefox_prefs.js.j2
Due: none

Add a new workspace setup guide.
  ANSIBLE-SETUP.md
  README.md
Due: markdown tests

Much more simpler workspace setup.
  ANSIBLE-SETUP.md
  README.md
Due: markdown tests

Update go.sh
  go.sh
Due: bash tests
